@import "tailwindcss";
@import "tailwindcss/utilities";
@custom-variant dark (&:where(.dark, .dark *));

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* LIGHT THEME COLORS */
:root {
  --background: #E8EDF2;
  --font-color: #2F3A49;
  --border-color: #BCC8D6;

}

.dark {
  --background: #1E2128;
  --font-color: #E7EBF0;
  --border-color: #343944;

}

html, body {
  background-color: var(--background);
  color: var(--font-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.sidebar {
  background-color: var(--sidebar-bg);
  border-right: 1px solid var(--border-color);
}